<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cenjil.boot.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.cenjil.entity.Comment">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="like" jdbcType="INTEGER" property="like" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

    <update id="like">
        update comment set `like`=(select `like` from comment where id=#{id})+1 where id=#{id}
    </update>
</mapper>